<ion-header> 
  <ion-toolbar> 
    <ion-title color="primary">Componentes</ion-title> 
  </ion-toolbar> 
</ion-header> 
   
<ion-content> 
 
  <ion-list> 

    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" 

    detail> 
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>       
       {{c.name}}  
    </ion-item> 
    
  </ion-list> 

  <ion-content>
    <app-avatar imageSrc="https://img.freepik.com/vector-gratis/plantilla-logotipo-perro-cachorro-marron-sentado_1051-3347.jpg"></app-avatar>
  </ion-content>
 
</ion-content>